.active {
  color: crimson;
}

nav {
  padding: 1% 0 !important;
  border-bottom: 1px solid #ededed;

  .navbar-ul {
    display: flex;
    align-items: center;

    li:not(:first-child) {
      margin-left: 3%;
    }
  }

  .logout-btn {
    color: #0d6efd;
    transition: 0.3s;

    &:hover {
      color: crimson;
    }
  }
}
